$available-networks: "vk", "facebook", "telegram", "instagram", "twitter", "odnoklassniki", "linkedin";

.available-networks {
  display: flex;
  justify-content: center;
  padding: .5rem;

  @include breakpoint(small down) {
    flex-wrap: wrap;
  }

  &__item {
    margin: rem-calc(0 8);
    width: rem-calc(55);
    height: rem-calc(55);
    border-radius: rem-calc(100);
    box-shadow: 0 3px 12px transparentize(#000, .9);

    @include breakpoint(small down) {
      margin-bottom: rem-calc(10);
    }

    @each $network in $available-networks {
      &-#{$network} {
        background-image: url("/img/networks/#{$network}.svg");
      }
    }
  }
}