.cta-block {
  &-holder {
    padding-top: rem-calc(60);

    @include breakpoint(small down) {
      padding-top: rem-calc(35);
    }

    &--padded {
      padding-right: 0.625rem;
      padding-left: 0.625rem;
    }
  }

  background-color: $light-gray;
  border-radius: $global-radius;
  padding: rem-calc(36 46);
  max-width: rem-calc(965);
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  text-align: left;

  @include breakpoint(small down) {
    flex-direction: column;
    padding: rem-calc(20);
  }

  &__copy {
    &-title {
      font-family: $header-font-family;
      font-size: rem-calc(28);
      color: $light-black;
      padding-bottom: .5rem;

      @include breakpoint(small down) {
        font-size: rem-calc(24);
      }
    }
    &-subtitle {
      color: $dark-gray;
      padding-bottom: .5rem;

      @include breakpoint(small down) {
        padding-top: .5rem;
        padding-bottom: 1rem;
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 395px;

    @include breakpoint(small down) {
      width: auto;
    }
  }
}