.mouse-scroll-down {
  display: flex;
  justify-content: center;
  padding: .5rem;
  padding-bottom: rem-calc(20);

  @include breakpoint(small down) {
    display: none;
  }

  &__item {
    width: rem-calc(30);
    height: rem-calc(42);
    border-radius: rem-calc(100);
    border: 2px solid lighten($medium-gray, 25);
    position: relative;

    &:before {
      position: absolute;
      display: block;
      content: '';

      top: 8px;
      left: calc(50% - 3px);

      background-color: #558fdf;
      border-radius: 100%;
      width: rem-calc(6);
      height: rem-calc(6);

      animation: 1s mouse-scroll ease infinite;
    }
  }
}

@keyframes mouse-scroll {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(12px);
  }
}