.signup-form {
  max-width: rem-calc(450);
  display: flex;

  @include breakpoint(small down) {
    width: 100%;
  }

  &__input {
    max-width: rem-calc(235);
    border-radius: rem-calc(4 0 0 4);
    border-right: none;
    &:focus {
      border-right: none;
    }
  }

  &__button {
    @include button;

    border-radius: rem-calc(0 4 4 0);
    padding: rem-calc(14 24);
    font-size: rem-calc(16);

    user-select: none;

    @include breakpoint(small down) {
      flex-shrink: 0;
      padding: rem-calc(14);
    }

    box-shadow: 0 2px 4px transparentize($primary-color, .7);
  }
}