@import 'partials/analytic';
@import 'partials/editor-demo';
@import 'partials/header';
@import 'partials/hero';
@import 'partials/schedule';
@import 'partials/process';
@import 'partials/footer';

@import 'components/index';

.landing {
  &-block {
    padding: rem-calc(70 0);
    overflow-x: hidden;

    @include breakpoint(small down) {
      padding: rem-calc(30 0);
    }

    &__title {
      color: $light-black;
      font-size: rem-calc(28);
      margin-bottom: 1.5rem;

      @include breakpoint(small down) {
        font-size: rem-calc(24);
        margin-bottom: 1rem;
      }
    }

    &--darken {
      background-color: $light-gray;
    }
  }
}