<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">

    <title>Pur Ninja - автопостинг в социальные сети</title>
    <meta property="og:image" content="https://pur.ninja/img/ogimage.jpg">
    <meta name="description" content="Управляйте всеми страницами, планируйте посты, работайте вместе с командой и анализируйте результаты - все это в одном месте.">

    <meta property="og:title" content="Pur Ninja - автопостинг в социальные сети">
    <meta property="og:description" content="Управляйте всеми страницами, планируйте посты, работайте вместе с командой и анализируйте результаты - все это в одном месте.">

    <link href="/build/css/marketing.css" rel="stylesheet" >
</head>

<body>

<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <img src="/img/logo.svg" alt="">
        </div>
        <label for="header-menu">
            <div class="header__mobile">
                <i class="fa fa-bars"></i>
            </div>
        </label>
        <input type="checkbox" id="header-menu">
        <div class="header__menu">
            <a class="header__menu-item" href="/pricing">Цены</a>
            <a class="header__menu-item header__menu-item--light" href="/login">Войти</a>
            <a class="header__menu-item header__menu-item--cta" href="/register">Начать работу</a>
        </div>
    </div>
</header><div id="app">
    <div class="landing-block">
        <div class="hero">
            <div class="hero__copy">
                <h1 class="hero__copy-title">
                    Планируйте публикации, анализируйте результаты и работайте в команде над соцсетями
                </h1>
                <h2 class="hero__copy-subtitle">
                    Pur Ninja — сервис с простым интерфейсом, который поможет сохранить время при работе в соцсетях.
                </h2>
                <form class="signup-form" id=hero-form method="post" action="/register">
                    <input type="hidden" name="type" value="fast">
                    <input type="hidden" name="_token" value="NLpWVYqj00IFAXmOOU62DX4xB2eMr4lnx9QnUK7C">
                    <input class="signup-form__input" type="email" placeholder="Ваш email" name="email" required/>
                    <button type="submit" class="signup-form__button">Начать работу</button>
                </form>                <div class="hero__copy-info">
                7 дней бесплатно  ·  Просто начать
            </div>
            </div>
            <div class="hero__illustration">
                <img src="/img/marketing/schedule-page-view.png"/>
            </div>
        </div>
        <div class="mouse-scroll-down">
            <div class="mouse-scroll-down__item"></div>
        </div>
        <div class="available-networks">
            <div class="available-networks__item available-networks__item-vk"></div>
            <div class="available-networks__item available-networks__item-facebook"></div>
            <div class="available-networks__item available-networks__item-telegram"></div>
            <div class="available-networks__item available-networks__item-instagram">
                <div class="available-networks__notification"></div>
            </div>
            <div class="available-networks__item available-networks__item-odnoklassniki"></div>
            <div class="available-networks__item available-networks__item-twitter"></div>
            <div class="available-networks__item available-networks__item-linkedin"></div>
        </div>
    </div>

    <div class="landing-block landing-block--darken">
        <div class="schedule">
            <div class="schedule__demo">
                <img src="/img/marketing/schedule-page-view.png" v-if="scheduleView.current === 'pages'">
                <img src="/img/marketing/schedule-day-view.png" v-if="scheduleView.current === 'days'">
            </div>
            <div class="schedule__copy">
                <h3 class="landing-block__title">Все соцсети в одном расписании</h3>
                <p>Создавать посты отдельно в каждой соцсети — медленно
                    и не удобно.</p>
                <p>В нашем расписании вы планируете и управляете постами во всех соцсетях сразу. Популярные и актуальные
                    публикации можно одним кликом запланировать повторно.</p>
                <p v-if="scheduleView.current === 'days'">Если нужно видеть план выхода постов для каждой соцсети
                    отдельно, есть вид календаря <span class="switch" @click="scheduleView.current = 'pages'">по страницам</span>.
                </p>
                <p v-if="scheduleView.current === 'pages'">Если нужно видеть план выхода постов во всех соцсетях вместе, есть вид календаря
                    <span class="switch" @click="scheduleView.current = 'days'">по дням</span>.
                </p>
            </div>
        </div>
    </div>

    <div class="landing-block">
        <div class="editor-demo">
            <h3 class="landing-block__title">Пишите пост один раз</h3>
            <div class="editor-parts">
                <div class="editor-parts__item editor-parts__editor">
                    <div class="editor-demonstration">
                        <div class="editor-explanations">
                            <div class="editor-explanations__item _pages">
                                <span>Страницы, на которые будет опубликован пост</span>
                            </div>
                            <div class="editor-explanations__item _video">
                                <span>
                                    Видео публикуется напрямую, загрузить нужно только раз
                                </span>
                            </div>
                            <div class="editor-explanations__item _versions">
                                <span>Версия поста для других страниц добавляется кликом</span>
                            </div>
                        </div>
                        <div class="img">
                            <img src="/img/marketing/editor.png">
                        </div>
                    </div>
                    <div class="editor-title">
                        Редактор постов
                    </div>
                    <div class="editor-description">
                        Пишите один раз для всех соцсетей. Если нужно подправить пост под какую-то страницу, вы сможете
                        добавить отдельную версию поста.
                    </div>
                    <div class="editor-info">
                        Кстати, еще мы умеем загружать видео в каждую соцсеть. С настройкой превью, обрезкой по длине и
                        наложением вотермарков.
                    </div>
                </div>
                <div class="editor-parts__item editor-parts__preview">
                    <div class="editor-demonstration editor-demonstration--faded">
                        <div class="img">
                            <img src="/img/marketing/preview.png">
                        </div>
                    </div>

                    <div class="editor-title">
                        Предпросмотр
                    </div>
                    <div class="editor-description">
                        Вы сможете убедиться, что пост будет опубликован правильно используя предпросмотр. Там мы
                        покажем, как именно он будет отображаться в каждой соцсети и на каждом устройстве.
                    </div>
                </div>
            </div>
            <div class="cta-block-holder">
                <div class="cta-block">
                    <div class="cta-block__copy">
                        <div class="cta-block__copy-title">Запланируйте первый пост</div>
                        <div class="cta-block__copy-subtitle">Пробный период 7 дней, без ограничений</div>
                    </div>
                    <div class="cta-block__form">
                        <form class="signup-form" id=editor-form method="post" action="/register">
                            <input type="hidden" name="type" value="fast">
                            <input type="hidden" name="_token" value="NLpWVYqj00IFAXmOOU62DX4xB2eMr4lnx9QnUK7C">
                            <input class="signup-form__input" type="email" placeholder="Ваш email" name="email" required/>
                            <button type="submit" class="signup-form__button">Начать работу</button>
                        </form>                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="landing-block landing-block--process landing-block--darken">
        <div class="process">
            <div class="process__copy">
                <h3 class="landing-block__title">Организуйте рабочее
                    пространство</h3>

                <div :class="['process__item', process.current === 'projects' ? 'process__item--active' : '']"
                     @click="process.current = 'projects'"
                >
                    <div class="process__item-title">Проекты</div>
                    <div class="process__item-description">
                        Много страниц можно разбивать по проектам для более удобной работы. Например, странички кофейни
                        сложить в проект "Кофейня", а свои личные — в "Личное".
                    </div>
                </div>

                <div :class="['process__item', process.current === 'team' ? 'process__item--active' : '']"
                     @click="process.current = 'team'"
                >
                    <div class="process__item-title">Менеджеры</div>
                    <div class="process__item-description">
                        Для совместной работы можно пригласить других людей и дать им нужный уровень доступа к проекту.
                        Например, только к аналитике или просмотру постов.
                    </div>
                </div>
            </div>
            <div class="process__demo">
                <div :class="['img', process.current === 'team' ? 'img--shadowed' : '']" style="min-height: 416px">
                    <img src="/img/team-work.png" v-if="process.current === 'team'">
                    <img src="/img/projects-list.png" v-if="process.current === 'projects'">
                </div>
            </div>
        </div>
    </div>

    <div class="landing-block">
        <div class="analytic">
            <div class="analytic__copy">
                <h3 class="landing-block__title">Анализируйте результаты
                    своей работы</h3>
                <p>
                    Используйте данные, чтобы давать правильный контент и больше вовлекать аудиторию. Если раньше нужно
                    было собирать информацию отдельно в каждой соцсети, то у нас все собрано в одном понятном кабинете.
                </p>
                <p>
                    Каждую неделю и месяц мы присылаем отчеты по всем проектам на почту.
                </p>
            </div>
            <div class="analytic__demo">
                <div class="analytic-buttons">
                    <div :class="['analytic-buttons__item', slug === analytic.current ? 'analytic-buttons__item--active' : '']"
                         v-for="(item, slug) in analytic.features"
                         @click="analytic.current = slug"
                         v-text="item.title"
                    ></div>
                </div>
                <div class="analytic__info" v-text="analytic.features[analytic.current].description"></div>
                <div class="analytic__screenshot">
                    <div class="img">
                        <img :src="analytic.features[analytic.current].image">
                    </div>
                </div>
            </div>
        </div>

        <div class="cta-block-holder cta-block-holder--padded">
            <div class="cta-block">
                <div class="cta-block__copy">
                    <div class="cta-block__copy-title">Попробуйте сервис в деле</div>
                    <div class="cta-block__copy-subtitle">Пробный период 7 дней, без ограничений</div>
                </div>
                <div class="cta-block__form">
                    <form class="signup-form" id=final-form method="post" action="/register">
                        <input type="hidden" name="type" value="fast">
                        <input type="hidden" name="_token" value="NLpWVYqj00IFAXmOOU62DX4xB2eMr4lnx9QnUK7C">
                        <input class="signup-form__input" type="email" placeholder="Ваш email" name="email" required/>
                        <button type="submit" class="signup-form__button">Начать работу</button>
                    </form>                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-holder">
    <div class="emoji">
        <img src="/img/smiling-face-with-heart-shaped-eyes.png" alt="">
    </div>
    <div class="footer">
        <div class="footer__line">
            Pur Ninja © 2018
        </div>
        <div class="footer__line">
            <a href="/partner">Партнерам</a>
            <a href="/pricing">Цены</a>
            <a href="/terms-of-service">Terms of service</a>
            <a href="/privacy-policy">Privacy policy</a>
        </div>
        <div class="footer__line footer__line--social">
            <a href="https://vk.com/pur.ninja" target="_blank" class="social-item" rel="nofollow">
                <i class="fa fa-vk"></i>
            </a>
            <a href="https://www.facebook.com/pur.ninja.service" target="_blank" class="social-item" rel="nofollow">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
    </div>
</footer>
<script src="https://use.fontawesome.com/65c55e0f17.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
<script src="/build/js/marketing.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-85092561-1', 'auto');
    ga('send', 'pageview');
</script>

<script>
    window.intercomSettings = {
        app_id: "aq5lsmnu"
    };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/aq5lsmnu';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = 'https://vk.com/rtrg?p=VK-RTRG-119901-8Y4ki';</script>
<script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1414257378630819'); // Insert your pixel ID here.
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1414257378630819&ev=PageView&noscript=1"/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->


</body>
</html>
