.analytic {
  @include xy-grid;
  @include xy-grid-container;

  &__copy {
    @include xy-cell(4);

    @include breakpoint(small down) {
      @include xy-cell(12);
    }

    display: flex;
    flex-direction: column;
  }

  &__demo {
    @include xy-cell(7);

    @include breakpoint(small down) {
      @include xy-cell(12);
      padding-left: 0;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }

    margin-left: auto;
    padding-left: 4rem;
  }

  &__info {
    padding: rem-calc(12 0 18 0);
    color: $dark-gray;

    @include breakpoint(small down) {
      padding: rem-calc(12 8 18 8);
    }
  }

  &-buttons {
    font-size: rem-calc(14);
    &__item {
      //padding-left: rem-calc(20);
      display: inline-block;
      position: relative;
      border-radius: $button-radius;
      padding: rem-calc(10 16 10 32);
      margin-right: rem-calc(6);
      margin-bottom: rem-calc(4);
      cursor: pointer;

      &--active {
        cursor: default;
        background-color: $light-gray;
      }

      &:before {
        display: block;
        content: '';
        position: absolute;
        left: 9px;
        top: calc(50% - 8px);
        width: rem-calc(16);
        height: rem-calc(16);
        background-size: 16px;
        background-image: url("/img/sparkles.png");
      }
    }
  }
}