.editor-demo {
  @include xy-grid-container;

  text-align: center;

  h3 {
    margin-bottom: 2.5rem;
  }
}

.editor-parts {
  text-align: left;
  display: flex;
  justify-content: flex-end;

  @include breakpoint(small down) {
    width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: normal;
    -webkit-overflow-scrolling: touch;
  }

  &__item {
    // REAL CONTENT WIDTH: 476px
    padding: rem-calc(0 12);
    width: rem-calc(500);

    @include breakpoint(small down) {
      width: 87.5%;
      flex-shrink: 0;
    }
  }

  &__editor {
    position: relative;
  }
}

.editor {
  &-demonstration {
    margin-bottom: 1.5rem;
    position: relative;

    div.img {
      max-height: rem-calc(336);
      overflow: hidden;

      @include breakpoint(small down) {
        max-height: rem-calc(166);
      }
    }

    &--faded {
      &:after {
        height: rem-calc(30);
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      }
    }
  }

  &-title {
    margin-bottom: .5rem;
    font-weight: bold;
  }

  &-description {
    margin-bottom: .5rem;
  }

  &-info {
    color: $dark-gray;
    font-size: rem-calc(14);
  }

  &-explanations {
    height: 100%;
    width: rem-calc(165);
    left: rem-calc(-175);
    position: absolute;
    font-size: rem-calc(14);

    @include breakpoint(small down) {
      display: none;
    }

    &__item {
      position: absolute;

      &:after {
        bottom: 8px;
        left: 10px;
        width: 200px;
        content: '';
        height: 1px;
        background-color: #e6e6e6;
        display: block;
        position: absolute;
      }

      span {
        z-index: 1;
        position: relative;
        background-color: #fff;
        padding-right: 7px;
      }

      &._pages {
        top: 0%;
        &:after {
          width: 182px;
        }
      }
      &._video {
        top: 50%;
        &:after {
          width: 182px;
        }
      }
      &._versions {
        top: 80%;
        &:after {
          width: 182px;
        }
      }
    }
  }
}