.footer {
  &-holder {
    padding: 2rem .5rem 0 .5rem;
    margin: 0 auto;
    max-width: rem-calc(745);
    text-align: center;
  }

  background-color: $white;
  padding: 1rem 0;
  border-top: 1px solid #dbe3ea;
  font-size: rem-calc(14);
  position: relative;
  z-index: 1;
  margin-top: -1.75rem;

  color: $dark-gray;

  &__line {
    padding: .5rem 0;

    &--social {
      a {
        color: $medium-gray !important;
        font-size: rem-calc(28);

        &:hover {
          color: $dark-gray !important;
        }
      }
    }
  }

  a {
    color: $dark-gray;
    padding: 0 .5rem;
    &:hover {
      color: $light-black;
    }
  }
}