.header {
  @include xy-grid-container;
  padding: rem-calc(12 0);

  &__container {
    @include xy-grid;
  }

  &__logo {
    @include xy-cell('shrink')
  }

  &__menu {
    padding: rem-calc(6 0);
    font-size: rem-calc(14);
    text-align: right;
    @include xy-cell('auto')

    @include breakpoint(small down) {
      display: none;
    }
  }

  &__mobile {
    display: none;

    @include breakpoint(small down) {
      display: block;
      margin-left: auto;
      padding: rem-calc(8 20 8 16);
    }
  }

  &__menu-item {
    display: inline-block;
    padding: rem-calc(8 20);
    color: $black;
    border-radius: $button-radius;

    @include breakpoint(small down) {
      text-align: center;
      display: block;
    }

    &:hover, &:focus {
      color: $black;
      background-color: $light-gray;
    }

    &:focus {
      color: $black;
    }

    &--light {
      color: $medium-gray;
    }

    &--cta {
      background-color: $light-gray;
    }
  }
}

label[for='header-menu'] {
  @include breakpoint(small down) {
    display: block;
    margin-left: auto !important;
  }

}
input#header-menu {
  display: none;
  &:checked + .header__menu {
    display: block;
    width: 100%;
    padding: 1rem;
    position: fixed;
    margin: 0 !important;
    height: calc(100% - 60px);
    top: 60px;
    background-color: $white;
  }
}