.hero {
  @include xy-grid;
  @include xy-grid-container;

  &__copy {
    @include xy-cell(7);

    @include breakpoint(small down) {
      @include xy-cell(12);
    }

    justify-content: center;
    display: flex;
    flex-direction: column;

    &-subtitle {
      font-size: rem-calc(24);
      color: $dark-gray;
      font-family: $body-font-family;
      padding: rem-calc(24 0);

      @include breakpoint(small down) {
        font-size: rem-calc(18);
      }
    }

    &-info {
      color: $medium-gray;
      font-size: rem-calc(14);
      padding: rem-calc(12 0);
    }
  }

  &__illustration {
    @include xy-cell(5);

    @include breakpoint(small down) {
      display: none;
    }

    img {
      box-shadow: 5px 0 45px transparentize(#000, .9);
      border-radius: 2 * $global-radius;
      height: rem-calc(450);
      max-width: inherit;
    }
  }
}