.process {
  max-width: rem-calc(1125);
  @include xy-grid;
  @include xy-grid-container;

  &__copy {
    @include xy-cell(5);

    @include breakpoint(small down) {
      @include xy-cell(12);
    }

    justify-content: center;
    display: flex;
    flex-direction: column;

    h3 {
      margin-bottom: 2rem;
    }
  }

  &__item {
    margin-bottom: 2rem;
    padding-left: 2rem;
    opacity: .7;
    cursor: pointer;

    @include breakpoint(small down) {
      padding-left: 0;
      opacity: 1;
    }

    &--active {
      opacity: 1;
      cursor: default;
      position: relative;

      @include breakpoint(small down) {
        &:before {
          display: none !important;
        }
      }

      &:before {
        display: block;
        content: '';
        left: 6px;
        top: -6px;
        width: rem-calc(12);
        height: rem-calc(35);
        background: url("/img/arrow.svg");
        position: absolute;
      }
    }

    &-title {
      font-weight: bold;
      margin-bottom: .5rem;
    }

    &:last-child {
      @include breakpoint(small down) {
        margin-bottom: 0;
      }
    }
  }

  &__demo {
    @include breakpoint(small down) {
      display: none;
    }
    .img {
      width: rem-calc(565);
    }
    .img--shadowed {
      border-radius: rem-calc(8);
      box-shadow: 5px 0 45px transparentize(#000, .9);

      img {
        border-radius: 2 * $global-radius;
      }
    }

    margin-left: auto;
  }
}