.schedule {
  @include xy-grid;
  @include xy-grid-container;

  @include breakpoint(small down) {
    flex-direction: column-reverse;
  }

  &__demo {
    @include xy-cell(7);
    position: relative;

    @include breakpoint(small down) {
      @include xy-cell(12);
    }

    img {
      margin-left: rem-calc(-150);
      position: relative;
      right: 0;

      box-shadow: 5px 0 45px transparentize(#000, .9);
      border-radius: 2 * $global-radius;
      height: rem-calc(450);
      max-width: inherit;

      @include breakpoint(small down) {
        width: 100%;
        height: auto;
        margin-left: 0;
      }
    }
  }

  &__copy {
    @include xy-cell(5);

    @include breakpoint(small down) {
      @include xy-cell(12);
    }

    justify-content: center;
    display: flex;
    flex-direction: column;

    .switch {
      color: $secondary-color;
      text-decoration: underline;
      text-decoration-color: transparentize($secondary-color, .85);
      cursor: pointer;
    }
  }
}